
.DS_Store
.ipynb_checkpoints
.idea
*.pth
*.0
homework/hw01_Regression/spss.sav
homework/hw01_Regression/runs/Nov29_15-46-29_duruideMacBook-Air.local/events.out.tfevents.1669707989.duruideMacBook-Air.local.26987.1
*.pt
*.zip
*.1
*.2
*.3
homework/hw02_Classification/model.ckpt
homework/hw02_Classification/libriphone/test_split.txt
homework/hw02_Classification/libriphone/test_split.txt
homework/hw02_Classification/libriphone/test_split.txt
homework/hw02_Classification/libriphone/train_labels.txt
homework/hw02_Classification/libriphone/train_split.txt
homework/hw02_Classification/libriphone/train_labels.txt
homework/hw02_Classification/libriphone/test_split.txt
application/sin_sim.wav
application/sin_plx.wav
application/data/wxf.m4a
application/data/dr.m4a
application/data/sin_plx.wav
application/data/sin_sim.wav
application/data/dr.wav
application/data/wxf.wav
prerequisite/LaTeX/hw1.pdf
prerequisite/visualization/t2.svg
prerequisite/visualization/t1.svg
*.pptx
